<footer>
  <div class="center">
    <div class="part" id="part-1">
      <h3>Heading</h3>
      <p class="footer-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
        voluptatem, fuga tenetur omnis dolorem officiis consectetur veniam fugit
        consequuntur adipisci ab nam, quo minima illum voluptates ipsa
      </p>
    </div>
    <div class="part" id="part-2">
      <h3>Heading</h3>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
    </div>
    <div class="part" id="part-3">
      <h3>Heading</h3>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
      <a href="" class="footer-link">lorem 2</a>
    </div>
    <div class="part" id="part-4">
      <h3>Heading</h3>
      <a href="" class="footer-info">lorem 2</a>
      <a href="" class="footer-info">lorem 2</a>
    </div>
  </div>
</footer>
