<nav id="nav">
  <img src="./images/btlogo.png" alt="" srcset="" id="nav-image" />
  <ul class="nav-list" class="nav-list">
    <a href="/about" class="link-click"><li class="item">About Us</li></a>
    <div href="/contact" class="link-click" onclick="window.scroll(0,3800)">
      <li class="item">Contact</li>
    </div>
    <a href="/login" class="link-click"><li class="item">Login</li></a>
    <a href="/login" class="link-click"><li class="item">SignUp</li></a>
  </ul>
</nav>
