<div class="sidebar">
  <a href="/dashboard" style="text-decoration: none; cursor: pointer">
    <h1 class="title">HappyMe</h1>
  </a>
  <div class="profile">
    <img src="./images/btlogo.png" alt="" />
    <a href="/profile" style="text-decoration: none"
      ><div class="profile-content">
        <h2 class="user-name">Name</h2>
        <p class="user-original">Lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </div>
  <ul class="sidebar-links">
    <a href="/track" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAUdJREFUSEvtl+ERATEQhd91QAdUQAl0oAN0QCV0gA50QAeogBKUYN5M1qxM7rK52Zv7I7/MZbPf7mbzEhV6GlVPXFjBCwATY5AvAKecbR14oEAjAMeco2iegb7Dt4f6/TVLgVcADoWgnPk6Dj4GM7tnzkvL+aHOPAbPAFyC4y2AO4ApgF0hLLV2DuAqfprAYqiDsfJTa4vBzHhvJQa7TaiWDroYXMj8Mf+Di5rLUmoKDjuf3SzCwXWdlppQHkE2IY8fm0jgbmAKDLVYhobyG+WRMFewSKnIXw7qUupYSrmXy1DeVKZSEZdS110ecXl1M7qA6TCGN0FdSq2zEHgO6g6mQ170FAN9ZlPn3a3UFjHpZI//4FwFzHtMvb3lvLWcH2u5Tb0y+ZSlKnkOvrN5DL+j7l3N48LsPQZvrHPsyPpPwiOAHx+9gT//FX8f7nlc0AAAAABJRU5ErkJggg=="
          />
        </span>
        <p class="name-link">Tracks</p>
      </li></a
    >
    <a href="/excercise" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAb5JREFUSEvdlV0uBEEUhb9ZAa+esAIk3vEuflaA2AArwAqwApaAROINzyTsADtgB/JJlZSZ6u7qmelM4iadnu6puueeU+fe7jGh6E0Ily6A94EZ4A54riI2buBrYCMBWwduc+DjBF4GnvpAboDNfwsssU6lXgSmgA/gPSNjJ+a6BHYSsE/gFXgIdxkXRRtzrQL3DVktYg2woNpoAyyrFeAL2AKU3Lvv0jgHDsYFnLI9AY5DYs94NgMiawudC4W5fy9dV8o4ZWsypRT8qIKZ/3u5NkYs5ue5FFgQ5TsLgCZ8AaaTxLrcdRcVxchYc7YCdnEEkclVZiJFRruAl6FS8fpTTynjdFPO3baRRiuOYYBzhpKh4I1tNIzU7qkzlP9blL1sSylxZbRhnBpKIwlgL+faScDt4IUseBvg1FBpa2g6C/Ds491ZbmFLVZRLgVNDNRnJtjsNgPMVH5KBPrbiuCkt1vcyc1z6O/dVius9krfwcBh6f4B4P+OmD0Flor7MyrxQJ3c/sGycTrlw6vxOnoaGbZS79IyLB0NY2Ch3V8DiR7kfg+NHHpml7PWLhrQNG81VmnTkdV1KXVvcxIC/AXV1WR8adghNAAAAAElFTkSuQmCC"
          />
        </span>
        <p class="name-link">Exercises</p>
      </li></a
    >
    <a href="/tasks" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAOpJREFUSEvtl2sNwkAQhL8qAByAAnAAKAAHWMABGnCABBwASgAHSCBDWtKUtN1uNumRdP7eTif7mrtm9ISsJ12SEh4D85ZK3CrnC2DUwHkCj/J5NeMpcDeU/wjs87gTsDNwJsCriKsKr4CL4SPKWLHCFVgaOOs89hM6CA+lrpuZJIbrDGwMUz0r73LEVGv3t4CMpw4yD+37FxHChmR/Q5IR9limrPNgKLV6XFtqHahXMv0myCYLhFimp19hwl2vxRBhT49DhAevTtqr/7vHnqkOeex5nEscOV3b7dT4vPU4l4uT1J+EK4OupDfPEFYfJKv++AAAAABJRU5ErkJggg=="
          />
        </span>
        <p class="name-link">Task</p>
      </li></a
    >
    <a href="/therapist" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAL5JREFUSEvtltENgkAQRB8VYAdaAh1AJ9KJ0gl2Ih1QgnYgHZglMcGEdfdE4Wcvua/bu+HmZmfI2GhkG+GSClwDe+Vj70DrvUgq8BUolcM7oApgjYGg2tJGiGvK0NftJOZwNLgugJ1S8wB6Y//lZTJTVZ+Bk/XIC9cbQHDeLDOAF7I6uz2oHmmRdpL5aUg75UrB4GgnyesxsyMkLCVHSPwkJCyaZT2oXo1qMZiD8ia3f/7Qe3Tgqkl1LtehnqIn69s4H8dWupQAAAAASUVORK5CYII="
          />
        </span>
        <p class="name-link">Therapists</p>
      </li></a
    >
    <a href="/sleepzone" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAoZJREFUSEvNlruSzUEQh799ApQHsMoDIBeQbJG4JEKXlMBKBW6BFAGpSyhxSSgJquR4AMULqOIJqG9r+lT/Z+e/M2eTo6tOnXNmevrX/eue7lljRbK2Ilx2A3wc2AMcKU5/BX4Dn5YJYhRYkGvAWWDvDIDgr4A7wM+eEz1gQe4Dl3qGqv2nwPXCRPPoTsBG+RJYTyefAR8B6fWjqOdHNs4kXfcvJ72JA3PAGvqQaH0NbA5QqJMPkgPSf6IF3gKW3i8pUinT2DKik6ZIMXLBdWIhLWDzc7Fo1KAyoYG6eIxUh4N+j2dwUzSpkxpYw0arSK95U/w2AgGs2ttV+P6/VRzSWatb8TvyfjA7XAPnaENRUIssZCfg0DlXQHX0R1mcRF0DS6PNISvF2p8SqVG0qJZK6fW8Z3Q87rZR+3tfeJaB7UhWsuI1MPocbURRsTz529LXoSdFyyLzOk5aZj50tBSKh6IodGxEtgwXx3U+183C+RxxFEjt0AhYT+dvUVjUx38B3KK6FYlFcwE4WTbfAc9T9dZnulS3iqs2cgq4ARyrNj4D94C3DU+7xeWZuDq5eWRbj4ArMwl9DFxt7EUT8TouRupIA8m2dOj0DPCbajqpNtxAcj701PLPYlXenAG+W9pm3h5umXH/5obEoZLL8xX4i5L772l9qSHhuZgyB4oRDTxMBvcDG6Ulumwvfg/8mgH9Bli43bHoeSm3A9l3FSlz6vTeUubUKRZTzYISNI/LLYO9p4+AEXk44JpR5KfP4QIWgOqq41XaBtoDDtp9fUTOZ+pq27LTzRRN6M1avVdm6EqhvdyIgv4aTVplQ71eSnb9oLcA6wd9TKUhVkYjHjK2jNLKgP8B2ZiaH1n318YAAAAASUVORK5CYII="
          />
        </span>
        <p class="name-link">Sleep Zone</p>
      </li></a
    >
    <a href="/chat" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAARxJREFUSEvtllERwjAMhr8pAAk4AAeAApAADnAAKMACKAAUgARwgARQAJe7dbeNsvYuDXtZ3na35Guav0kyWrKsJS4x4D4wAwaKQz6AM/B0MUJggV6AkQLqXG/A1MFD4BWwSwB1IZbAXj5CYC1znoN6eaAtsPkHWBgCP4bAJkIC3k1gMyGFwGZCCoGl6Gutmkr+hZA6cP05dVet1ZlPXN6WaX3Vd2DiGxKW4AVw+jUWLcFfZStPp9bAli2zMWMZEldgqJUzUBGSL159ERC4zE+3X4kKxx5HCSxi8ZnsVxUhxYDr//jqfgBEpSoLrT51cNEAVNSIncuBX/njl00xicVkLDUvOk4SakTGsk8ny7J86FDGqRJsfMdmEF/gD/BhUx/Ghhq2AAAAAElFTkSuQmCC"
          />
        </span>
        <p class="name-link">Chat</p>
      </li></a
    >
    <a href="/settings" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAelJREFUSEvFlu0xBEEQht+LgBCIABEgAyJABIgAGRABMpABMiADIRAB9Vx1b7W+2d2Zu726/rO1dTv99Oc7N9OGbLYhrlYF70jak7RvCXxJepfEc9CWBR9JupHEs2SA7yU9S/oufbAM+EnS2VhGkj4tsEnAGfog6UXSh2XoAQ1CCbol41srL+dwfG5A3mNAJei2VajLvhZML1/tcHZcA+Us/abvc6sFR+cHjZkCZeoZuN1W8K8dIGpKjLFK9HbL3q9jRpIor0OdB3i+ajUZxzKf2jC5IzJ5C/AL63cJyhn/vRl8bKC4TRl+ZVVxUaFKPu13khjSScD4yXAPDCjz4YPZBMaJ97g7WBCQDPd5iK1qBrN/DBHDxFT3mcMRFR9CVujSDnQbUTNceU+9d31wpt0vibz/3dkx8Jg4DCS/sE7/NmIIvAqUzB7DdYmmM+2d9YHHoL6nOKKf7LJPN+U9CYwoOoPgWuhYr39swAhswXLG+QYi+nifZkXCuUumO/d/IJS2eBeXBMTXpu9qi9rrJSQYsucs61ZlOWN6dWhOkEd3lDMt9q2KaB9lcNw7MgDOTpYybeGM9pgPUBxWAQMOOAq+K9Lk4Ax3wMrljZEOCQi7yJQjgejt/DqbysYkcypOVY/XBqst9VoD+AOQ+Icf4LfeXgAAAABJRU5ErkJggg=="
          />
        </span>
        <p class="name-link">Settings</p>
      </li></a
    >
  </ul>
  <a href="/logout" style="text-decoration: none">
    <div class="logout-link">
      <img src="" alt="" />
      <p class="name-link">Log Out</p>
    </div>
  </a>
</div>
