<div class="sidebar">
  <a href="/dashboard" style="text-decoration: none; cursor: pointer">
    <h1 class="title">HappyMe</h1>
  </a>
  <div class="profile">
    <img src="./images/btlogo.png" alt="" />
    <a href="/dashboard/profile" style="text-decoration: none"
      ><div class="profile-content">
        <h2 class="user-name"><%= user.name %></h2>
        <p class="user-original"><%= user.username %></p>
      </div>
    </a>
  </div>
  <ul class="sidebar-links">
    <a href="/dashboard/excercises" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAb5JREFUSEvdlV0uBEEUhb9ZAa+esAIk3vEuflaA2AArwAqwApaAROINzyTsADtgB/JJlZSZ6u7qmelM4iadnu6puueeU+fe7jGh6E0Ily6A94EZ4A54riI2buBrYCMBWwduc+DjBF4GnvpAboDNfwsssU6lXgSmgA/gPSNjJ+a6BHYSsE/gFXgIdxkXRRtzrQL3DVktYg2woNpoAyyrFeAL2AKU3Lvv0jgHDsYFnLI9AY5DYs94NgMiawudC4W5fy9dV8o4ZWsypRT8qIKZ/3u5NkYs5ue5FFgQ5TsLgCZ8AaaTxLrcdRcVxchYc7YCdnEEkclVZiJFRruAl6FS8fpTTynjdFPO3baRRiuOYYBzhpKh4I1tNIzU7qkzlP9blL1sSylxZbRhnBpKIwlgL+faScDt4IUseBvg1FBpa2g6C/Ds491ZbmFLVZRLgVNDNRnJtjsNgPMVH5KBPrbiuCkt1vcyc1z6O/dVius9krfwcBh6f4B4P+OmD0Flor7MyrxQJ3c/sGycTrlw6vxOnoaGbZS79IyLB0NY2Ch3V8DiR7kfg+NHHpml7PWLhrQNG81VmnTkdV1KXVvcxIC/AXV1WR8adghNAAAAAElFTkSuQmCC"
          />
        </span>
        <p class="name-link">Exercises</p>
      </li></a
    >
    <a href="/dashboard/tasks" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAOpJREFUSEvtl2sNwkAQhL8qAByAAnAAKAAHWMABGnCABBwASgAHSCBDWtKUtN1uNumRdP7eTif7mrtm9ISsJ12SEh4D85ZK3CrnC2DUwHkCj/J5NeMpcDeU/wjs87gTsDNwJsCriKsKr4CL4SPKWLHCFVgaOOs89hM6CA+lrpuZJIbrDGwMUz0r73LEVGv3t4CMpw4yD+37FxHChmR/Q5IR9limrPNgKLV6XFtqHahXMv0myCYLhFimp19hwl2vxRBhT49DhAevTtqr/7vHnqkOeex5nEscOV3b7dT4vPU4l4uT1J+EK4OupDfPEFYfJKv++AAAAABJRU5ErkJggg=="
          />
        </span>
        <p class="name-link">Task</p>
      </li></a
    >
    <a href="/dashboard/therapist" class="link">
      <li>
        <span class="icons">
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAL5JREFUSEvtltENgkAQRB8VYAdaAh1AJ9KJ0gl2Ih1QgnYgHZglMcGEdfdE4Wcvua/bu+HmZmfI2GhkG+GSClwDe+Vj70DrvUgq8BUolcM7oApgjYGg2tJGiGvK0NftJOZwNLgugJ1S8wB6Y//lZTJTVZ+Bk/XIC9cbQHDeLDOAF7I6uz2oHmmRdpL5aUg75UrB4GgnyesxsyMkLCVHSPwkJCyaZT2oXo1qMZiD8ia3f/7Qe3Tgqkl1LtehnqIn69s4H8dWupQAAAAASUVORK5CYII="
          />
        </span>
        <p class="name-link">Therapists</p>
      </li></a
    >
  </ul>
  <a href="/logout" style="text-decoration: none">
    <div class="logout-link">
      <img src="" alt="" />
      <p class="name-link">Log Out</p>
    </div>
  </a>
</div>
