<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BT - Health App for all</title>
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  </head>
  <body>
    <%- include('./components/sidebar') %>
      <div class="main-content">
        <p class="date">Oct 8,2021 </p>
        <h1 class="name">Hey, <%= user.name %></h1>
        <div class="element-containor">
          <h1 class="element-title">
            Tasks
          </h1>
          <div class="carousel" data-flickity='{ "wrapAround": true }'>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
          </div>
        </div>
        <div class="element-containor">
          <h1 class="element-title">
            New
          </h1>
          <div class="carousel" data-flickity='{ "wrapAround": true }'>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
            <div class="carousel-cell"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script>
    var elem = document.querySelector('.main-carousel');
    var flkty = new Flickity( elem, {
      // options
      cellAlign: 'left',
      contain: true
    });

    // element argument can be a selector string
    //   for an individual element
    var flkty = new Flickity( '.main-carousel', {
      // options
    });
  </script>
</html>

