<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BT | landing</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <%- include('./components/navigation') %>
    <div class="component"></div>
    <div class="containor-screen"></div>
    <div class="containor-screen"></div>
    <div class="containor-screen"></div>
    <div class="containor-screen"></div>
    <%- include('./components/footer') %>
    <div class="copyright">
      <!-- <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" /> -->
      <p>Copyright © 2021 BT. All rights reserved</p>
    </div>
  </body>
</html>
