<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BT | landing</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <%- include('./components/navigation') %>
    <div class="main">
      <div class="component" id="text-high">
        <p class="main-text">You Have Enough,</p>
        <p class="main-text">You Do Enough,</p>
        <p class="main-text">You Are Enough.</p>
        <span class="title-text">
          <span class="quote">"</span>
          Be Happy with HappyMe
          <span class="quote">"</span>
        </span>
      </div>
      <div class="containor-screen">
        <p class="heading-section">Feel Calm, Capable and Better everyday</p>
        <p class="para-section">
          <span class="tag">HappyMe</span> provides daily tasks to help you move
          on and go on in your life
        </p>
      </div>
      <div class="containor-screen">
        <p class="heading-section">
          Find Your path towards a better and healthier life
        </p>
        <p class="para-section">
          With
          <span class="tag">HappyMe</span> track your fitness and mood. Exercise
          daily, earn badges motivate yourself with daily quotes.
        </p>
      </div>
      <div class="containor-screen"></div>
      <div class="containor-screen"></div>
    </div>
    <%- include('./components/footer') %>
    <div class="copyright">
      <!-- <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" />
      <img src="" alt="" class="logo-social" /> -->
      <p>Copyright © 2021 BT. All rights reserved</p>
    </div>
  </body>
  <script src="./script/main.js"></script>
</html>
