<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/task.css" />
    <title>Task | HM</title>
  </head>
  <body>
    <a href="/dashboard"><div class="close">X</div></a>
    <div class="main-center">
      <img src="/images/lake.jpeg" alt="" />
      <div class="content-task">
        <h3>Task Name Here</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quo
          doloremque deleniti quas alias provident quis culpa tenetur labore!
          Sint quod aliquam inventore recusandae! Adipisci aliquid aliquam
          assumenda cumque nam!
        </p>
      </div>
      <div class="content-btn">
        <div class="previous button"><i class="arrow left"></i> Previous</div>
        <div class="completed button">Completed</div>
        <div class="next button">Next <i class="arrow right"></i></div>
      </div>
    </div>
  </body>
</html>
